@font-face {
    font-display: block;
    font-family: "bootstrap-icons";
    src: url("../fonts/bootstrap-icons.woff2?e34853135f9e39acf64315236852cd5a") format("woff2"),
        url("../fonts/bootstrap-icons.woff?e34853135f9e39acf64315236852cd5a") format("woff");
}

.bi {
    line-height: 1;
}

.btn .bi,
.dropdown-item .bi {
    display: inline-block;
    vertical-align: -0.125em;
}

.sidebar .nav-link .bi {
    font-size: 1rem;
    text-align: center;
}
